@import '../../styles/variables.scss';

.button {
  appearance: none;
  background: none;
  border: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
  padding: 12px 24px;
  position: relative;
  text-transform: uppercase;
  margin: 0 20px;

  &::before,
  &::after {
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  &::before {
    background: $c-blue-medium;
    transform: translateX(-100%);
    transition: 0.2s all ease-in-out;
    z-index: -1;
  }

  &::after {
    background: $c-blue-dark;
    z-index: -2;
  }

  &:hover::before {
      transform : translateX(0);
      transition: 0.3s all ease-in-out;
  }
}

.small {
  font-size: 12px;
  padding: 8px 16px;

  &::after {
    background: $c-blue-darker;
  }
}

.large {
  font-size: 18px;
  padding: 16px 32px;
}
