@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $c-sunray;

  &::after {
    height: 75vh;
    width: 150vw;
    top: 25%;
    content: '';
    background: $c-wheat;
    position: fixed;
    left: 0;
    transform: rotate(45deg);
    // transform-origin: top left;
  }
}

h1 {
  color: #272727;
  font-family: $ff-serif;
}

.swatch {
  height: 40px;
  width: 40px;
  margin: 20px;
}
