// Colors
$c-blue-dark: #0081AF;
$c-blue-medium: #00ABE7;
$c-blue-light: #2DC7FF;

$c-wheat: #EAD2AC;
$c-sunray: #EABA6B;

$c-blue-darker: #0B132B;

$c-grey-dark: #272727;
$c-middle-blue: #75BFCA;
$c-chestnut: #916953;

$c-lilac: #A690A4;
$c-pink: #DB6C79;
$c-wine: #632B30;
$c-reddish: #9C444C;
$c-brushed-bronze: #9D695A;
$c-reddish-pink: #92374D;

// Fonts
$ff-serif: 'Merriweather', serif;
$ff-sans: 'Catamaran', sans-serif;
